// Main
.phone-slider {
    background-image: url('/home-phones.png');
    background-position: -46px 0;
    background-size: 468.32px 634.15px;
    height: 581px;
    width: 112px;
    flex-basis: 380.32px;
}

.slider-container {
    margin-top: 27px;
    margin-left: 112px;
}

// Log in

.authorization-logo {
    background-image: url("/logos.png");
    background-position: 0px -52px;
    background-size: auto;
    width: 175px;
    height: 51px;
    background-repeat: no-repeat;
    display: inline-block;
}